.button-override-font {
  font-family: Roboto-Medium, sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #181818;
}

.button-prim {
  background: #6887ff;
  font-family: Roboto-Medium, sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #181818;
  border-color: #40d1a5;
  color: #fff;
  border: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

.button-prim:hover {
  background: #6f8cfd;
  border-color: #6f8cfd;
  color: #fff;
  border: 5px;
}

.button-danger {
  font-family: Roboto-Medium, sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #181818;
  border-color: #40d1a5;
  color: #fff;
  border: 5px;
  padding: 10px;
  margin-bottom: 5px;
}

.button-size {
  width: 520px;
}

.button-size-sm {
  width: 250px;
  margin-top: 20px;
  margin-left: 10px;
}
