.dashboard-userpiechart-container {
  width: 400px;
  height: auto;
  background: #fff;
  color: #212121;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  float: left;
  margin-top: 20px;
}

.dashboard-titletoplabel {
  padding: 20px;
  background-color: #273543;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 1.0em;
  text-shadow: 1px 1px 10px #181818;
  box-shadow: 0 5px 2px -2px #181818;
}

.dashboard-userinfo {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  font-family: Roboto-Light, sans-serif;
  font-size: 0.8em;
  background-color: #2e3e4e;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #181818;
  margin-top: 1px;
}
