/* Layout */
.layout-full {
  margin: 0;
  height: 100%;
  background: #f0f0f0;
  width: 100%;
  height: 100%;
}

.layout-screen-view {
  float: left;
  color: #fff;
  margin-left: 220px;
  height: 100%;
}

.layout-navbar-container {
  float: left;
  height: auto;
}

.layout-scene-wrapper {
  margin: 0;
  height: 100%;
  background: #f0f0f0;
  width: 100%;
  height: 100%;
}

.layout-confirm-box {
  margin: 20px 0;
  display: none;
  border-radius: 5px;
}

.layout-pageheader {
  color: #181818;
  padding: 20px;
  background-color: #fff;
  width: 1120px;
}

.layout-container-form {
  text-align: center;
  font-size: 95%;
}

.layout-top-container {
  font-size: 1.8em;
  background: #273543;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.layout-logoimg {
  margin: 10px;
}

.layout-login-container {
  background-color: #24303d;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: block;
}

.layout-register-container {
  background-color: #24303d;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: none;
}

.layout-usr-img {
  margin: 20px;
}

.layout-button-top-auth {
  text-align: center;
}

.layout-auth-main {
  background-color: #2e3e4e;
  padding-bottom: 20px;
}

.layout-policies {
  color: #fff;
  text-transform: uppercase;
  text-align: justify;
  font-size: 0.6em;
}

.layout-auth-title {
  font-family: Roboto-Medium, sans-serif;
  text-shadow: 1px 1px 10px #181818;
  color: #fff;
  padding: 10px;
  font-size: 2em;
}

.layout-footer {
  padding: 20px;
  text-align: center;
  background: #273543;
  color: #fff;
}

.layout-input-search-container {
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.layout-tw-results {
  display: none;
}

.clients-table-container {
  padding: 20px;
}

.clients-table-container-title {
  text-align: justify;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.full-container {
  background: #f0f0f0;
  height: 100%;
}
